# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
coverage/
*.vm.json
firebase-debug.log
.packages
build/
pubspec.lock
lib/src/data/*.json

# IDE
.idea/
*.iml
.vscode/

.DS_Store

snownlp/